@model IEnumerable<Werewolf.Models.Card.CardListItem>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<center>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @ViewBag.SaveResult
    </div>
}


    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style="border-color: #8B4513">
                    <div class="caption">
                        @Html.HiddenFor(m => item.CardId)
                        <h3>
                            @Html.DisplayFor(m => item.RoleName)
                        </h3>
                        <p>
                            @Html.ActionLink("View Card!", "", new { id = item.CardId })<br />
                            @Html.ActionLink("Edit", "Edit", new { id = item.CardId }) | | @Html.ActionLink("Delete", "Delete", new { id = item.CardId })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }

    </center>
